.cpcache/
.shadow-cljs/
.cljs_node_repl/
out/
target/
node_modules/
resources/public/js/
.clj-kondo/.cache/
.clj-kondo/rewrite-clj/
.DS_Store
.nrepl-port

# vscode
*.calva/
.lsp/
.portal/
.lh/

# intellij files
.idea/
*.iml