#kaocha/v1
 {:tests [{:id         :unit
           :skip-meta [:debux]
           :test-paths ["test/unit"]}
          {:id         :unit-debux
           :focus-meta [:debux]
           :test-paths ["test/unit"]}
          {:id         :features
           :test-paths ["test/features"]}
          {:id :unit-cljs
           :type :kaocha.type/cljs
           :skip-meta [:debux]
           :test-paths ["test/unit"]
           }]
  :plugins [:kaocha.plugin/print-invocations]}