{:customREPLHoverSnippets
 [{:name "omni-trace trace call"
   :snippet "(require '[cyrik.omni-trace.vscode])(cyrik.omni-trace.vscode/hover \"$ns\" \"$hover-top-level-defined-symbol\")"}

  #_{:name "dev var"
     :snippet "(str \"[some](command:calva.diagnostics.openClojureLspLogFile? \\\"something here\\\")\n```clojure\n\" (pr-str (eval (symbol (str \"$ns\" \"/\" \"$hover-text\")))) \"\n```\")"}]
 :customREPLCommandSnippets
 [{:name "omni-trace reset!"
   :snippet "(require '[cyrik.omni-trace.vscode])(cyrik.omni-trace.vscode/reset-workspace!)"}
  {:name "omni-trace run and graph"
   :key "r"
   :snippet "(require '[cyrik.omni-trace])(require '[cyrik.omni-trace.vscode])(cyrik.omni-trace.vscode/reset-workspace!)(cyrik.omni-trace.vscode/run $current-form)"}]}

